{#Vérification d'adresse email sans bundle#}
{# app.flashes contient les messages flash qu'on peut passer depuis un contrôleur  #}
{% for label, messages in app.flashes %}
  {% for message in messages %}
    <div class="alert alert-{{ label }} alert-dismissible" role="alert">
      <button type="button" class="btn-close" data-bn-dismiss="alert" aria-label="close"></button>
      <div class="alert-message">
        {# Pour interpréter le message au cas où il y ait du HTML dedant, on ajoute le |raw #}
        {{ message|raw }}
      </div>
    </div> 
  {% endfor %}
{% endfor %}