{% for label, messages in app.flashes %}
  {% for message in messages %}
    <div class="alert alert-{{ label }} alert-dismissible"
    role="alert">
      <button type="button" class="btn-close" data-bn-dismiss="alert" aria-label="close"></button>
      <div class="alert-message">
        {{ mesage|raw }}
      </div>
    </div> 
  {% endfor %}
{% endfor %}