<aside class="col-2 border border-light bg-white p-2">

  <article class="card mb-3">
    <div class="card-header">
    <a href="{{ path('profile_index') }}">Mon compte </a>
    </div>
    <div class="card-body">
      <p><a href="#">Mes informations</a></p>
      <p><a href="{{ path('profile_orders') }}">Mes commandes</a></p>
      <p><a href="{{ path('app_logout') }}">Me déconnecter</a></p>
    </div>
  </article>
</aside>