{% extends "base.html.twig" %}

{% block title %}Commandes{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      {% include "_partials/_profileNav.html.twig" %}
      <main class="col-9 border border-light bg-white p-2">
        <h1>Historique de vos commandes</h1>
        <p>Vous trouverez ici vos commandes passées depuis la création de votre compte</p>
      </main>
    </div>
  </div>
{% endblock %}